{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Credential for {{ credential.site_name }}{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Credentials for {{ credential.site_name }}</h1>
    <p class="lead"><b>Username: </b>{{ credential.username }}</p>
    <p class="lead"><b>Email: </b>{{ credential.email }}</p>
    <p class="lead"><b>URL: </b>{{ credential.url }}</p>
    <p class="lead"><b>Site: </b>{{ credential.site_name }}</p>
    <p class="lead"><b>Made by: </b>{{ credential.user }}</p>
    <p class="lead"><b>Password: </b>{{ credential.password }}</p>
    <hr class="my-4">
  </div>

{% endblock %}