{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
    <div style="width: 100%; padding-left: 50px;" class="jumbotron">
        <h1 class="display-4">Hello, {{ request.user.username }}</h1>
        <p class="lead">This is your dashboard. You may save any password you wish by clicking the button below.</p>
        <hr class="my-4">
        <p><b>Passwords saved: {{ passwords|length }}</b></p>
        <a class="btn btn-primary btn-lg" href="{% url 'new' %}" role="button">NEW</a>
    </div> 
    
    {% for password in passwords %}

        <div style="margin-bottom: 50px; width: 70%;" class="card text-center">
            <div class="card-header">
            Saved Password
            </div>
            <div class="card-body">
            <h5 class="card-title">{{ password.site_name }}</h5>
            <p class="card-text"><a href="{{ password.url }}">{{ password.url }}</a></p>
            <a href="{% url 'credential_detail' password.id %}" class="btn btn-primary">Check Credentials</a>
            </div>
            <div class="card-footer text-muted">
                <b>{{ password.user.username }}</b>
            </div>
        </div>


    {% endfor %}
{% endblock %}

